
@{
    ViewData["Title"] = "使用者登入";
}
<body>
<h1>使用者登入</h1>
登入表單
<div class="text">登入範本</div>
<form class="form-signin" id="formsignin">

    <div class="fieId">
        <label>信箱:</label>
        <span class="fas fa-user"></span>
        <input type="email" id="Email" name="Email" v-model="user.account" required placeholder="Email">
        email or phone
    </div>
    <div class="field">
        <label>密碼:</label>
        <span class="fas fa-lock"></span>
        <input type="password" id="Password" name="Password" v-model="user.password" placeholder="Password">
        password
    </div>
    <div class="forgot-pass"><a href="#">Forgot password?</a></div>
    <button id="signin" type="submit" v-on:click="loginFunc">Sign in</button>

    <div class="signup">
        Not a member? <a href="/Index">Sing up now</a>
    </div>

    <div v-text="loginResult"></div>

</form>

<hr />


    </body>

<script>
    /**建立一個Vue物件* */
    var app = new Vue({

        el: '#formsignin',                                   /*定義Vue作用範圍,el意旨element*/

        data: {                                                 //data是關鍵字-資料定義
            user: {                                             //登入物件
                account: "",                                //這是放帳號
                password: ""                                          //這是放密碼
            },
            loginResult: ""                                 //登入結果
        },

        methods: {                                          //methods 是關鍵字-使用方法
            loginFunc: function () {                //事件指令
                let sim = this;                             //指向物件
                $.ajax({                                    //使用ajax套件做傳遞
                    url: "/User/Usercheckin",       //傳遞位址
                    method: "post",                       //傳遞方式post
                    data: sim.user,                        //直接傳遞物件
                    success: function (text) {         //成功結果
                        sim.loginResult = text;     //畫面顯示結果
                    }
                });

            }
        }
    }); //End new Vue

</script>



















@*<script type="text/javascript">

        new Vue({
            el: '#formsignin',
            data: {
                eml:"",
                pwd:""
            },
            method: {
                sendToServer: function () {
                    axios({
                        method: 'post',
                        url: '/User',
                        data: {
                            "eml":this.eml,
                            "pwd":this.pwd
                        }
                    }).then(function (response) {
                        console.log(response);
                    })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        })
        console.log(response)
        //response => (this.formsignin = response)
    </script>*@


